@import url(minireset.css);

:root {
    --dark: #485460;
    --accent: #ffa801;
    --lightgray: #f1f3f6;
    --outerwidth: 275px;
    --containerwidth: 100%;
    --containerheight: 275px;
    --bgcolor1: #7f96ad;
    --bgcolor2: #485460;
    --bgcolor3: #d2dae2;
}

/* * {
    outline: 1px solid red;
} */

/* MAIN ELEMENTS */

html, body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    background: #d2dae2;
    color: #1e272e;
    background: 
    conic-gradient(from 31deg at 40% 25%, 
    var(--bgcolor1) 89deg, var(--bgcolor2) 0% 50%, 
    var(--bgcolor3) 0% calc(180deg + 89deg), var(--lightgray) 0%);
    outline: 1px solid transparent; /*should prevent background bleeding on mobile */
}

body, input, button {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

#outer-wrapper {
    width: var(--outerwidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-wrapper {
    width: calc(var(--containerwidth) + 30px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff5e57;
    border-radius: 15px;
    border: 1px solid #ff3f34;
    box-shadow: 3px 2px 6px rgba(30, 39, 46,0.5);
}

#container {
    width: var(--containerwidth);
    height: var(--containerheight);
    display: grid;
    background-color: white;
    border: 1px solid #ff3f34;
    
}

.bordered {
    outline: 1px solid var(--lightgray);
}

.controls-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.controls {
    background-color: var(--lightgray);
    margin: 10px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    border: 3px solid #d42b22;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: inset -3px -2px 0px 1px rgba(0,0,0,0.1),1px 3px 5px 1px rgba(0,0,0,0.1);
}

.controls:hover {
    transform: scale(1.2);
    background-color: var(--lightgray);
}

.material-icons-outlined {
    color: #485460;
    position: relative;
    bottom: 1px;
}

/* MAIN MENU DIVS */

.menu {
    width: 100%;
    margin-top: 12px;
    padding: 5px;
    background-color: rgba(241, 243, 246, 0.85);
    border: 1px solid var(--dark);
    border-radius: 5px;
    box-shadow: 2px 1px 3px rgba(30, 39, 46,0.5);
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-out;
}

#pallete-wrapper {
    align-items: center;
    justify-content: center;
}

.pallete {
    position: relative;
    width: 100%;
    float:left;
    border-radius: 50%;
    box-shadow: 2px 1px 3px rgba(1, 35, 73, 0.314);
    margin: 1px;
}

.pallete::before {
    content: "";
    display: block;
    padding-top: 100%;
}

#settings {
    flex-direction: row;
    flex-wrap: wrap;

}

.form-row {
    /* height: 50px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

/* COLOR BUTTONS */

#ff3f34 {
    background-color: #ff3f34;
}

#ffa801 {
    background-color: #ffa801;
}

#ffdd59 {
    background-color: #ffdd59;
}

[id="05c46b"] {
    background-color: #05c46b;
}

[id="4bcffa"] {
    background-color: #4bcffa;
}

[id="3c40c6"] {
    background-color: #3c40c6;
}

[id="7c3cc6"] {
    background-color: #7c3cc6;
}

#ef5777 {
    background-color: #ef5777;
}

#c67700 {
    background-color: #c67700;
}

#fbfcfd {
    background-color: #fbfcfd;
}

[id="1e272e"] {
    background-color: #1e272e;
}

#rainbow {
    background: #c0392b;
    background: linear-gradient(135deg, #ff3f34 30%, #ffa801 30.1%, #ffdd59 60%, #05c46b 60.1%, #4bcffa 100%);

}

.active {
    border: 3px solid yellow;
}

/* INDIVIDUAL SETTINGS */


input[type="range"] {
    width: 80%;
}



fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* BUTTONS */

button {
    width: 75px;
    padding: 7px;
    background-color: var(--dark);
    color: #fff;
    border-radius: 3px;
    border: 1px solid #485460;
    box-shadow: 3px 2px 6px rgba(30, 39, 46,0.5);
}

button:hover, button#clear:hover {
    background-color: var(--accent);
    color: #fff;
    font-weight: bolder;
}

button#clear {
    margin: 15px auto;
    width: 150px;
    padding: 10px;
    background-color: #fff;
    color: var(--dark);
    border-radius: 3px;
    box-shadow: 3px 2px 6px rgba(1, 35, 73, 0.514);
}


@media screen and (min-width: 375px) {

    :root {
        --outerwidth: 350px;
        --containerheight: 350px;
    }

}

@media screen and (min-width: 500px) {

    :root {
        --outerwidth: 450px;
        --containerheight: 450px;
    }

    .menu {
        padding: 7px;
    }

    input[type="range"] {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {

    :root {
        --outerwidth: 98%;
        --containerwidth: 550px;
        --containerheight: 550px;
    }

    .page-wrapper {
        padding-top: 65px;
    }


    #outer-wrapper {
        height: 550px;
        flex-direction: row;
        position: relative;
    }

    #container {
        /* margin: 0 10px; */
    }



    .menu {
        margin: 0;
        width: 11%;
        display: flex;
        position: absolute;
    }

    #pallete-wrapper {
        flex-direction: column;
        order: -1;
        height: 100%;
        top: 0;
        left: 0;
    }

    .pallete {
        height: 100%;
        width: 42px;
    }

    #settings {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        top: 0;
        right: 0;
    }

    .slider-wrapper {
        display: block;
        width: 20px;
        height: 150px !important;
        padding: 0;
      }


    input[type="range"] {
       height: 20px;
       width: 150px;
       margin: 0;
       transform-origin: 75px 75px;
       transform: rotate(-90deg);
       text-align: left;
  }


    .form-row {
        flex-direction: column;
        height: 50%;
        justify-content: space-around;
    }

    button {
        padding: 10px;
    }

    button#clear {
        margin: 70px auto;
    }

}

@media screen and (min-width: 1000px) {

    :root {
        --outerwidth: 90%;
    }

    body, input, button {
        font-size: 14px;
    }

    .menu {
        width: 120px;
    }

    .form-row {
        padding: 10px;
        align-items: flex-start;
    }

    .slider-wrapper {
       align-self: center;
      }
}


@media screen and (min-width: 1200px) {

    :root {
        --containerwidth: 750px;
        --containerheight: 750px;
    }

    #outer-wrapper {
        max-width: 1100px;
        height: 750px;
    }

    #container {
        /* margin: 0 100px; */
    }

    .pallete {
        width: 58px;
    }

    input[type="range"] {
        width: 175px;
    }
}