@import url(minireset.css);

:root {
    --red: #B00020;
    --yellow: #ec9c0e;
    --blue: #227093;
    --accent: #E9902D;
}

/* * {
    outline: 1px solid red;
} */

html, body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    background: var(--blue);
    background: linear-gradient(to top, var(--blue), #7ec2e1);
}

body, input, button {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

.page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.frame {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 3px 2px 6px rgba(1, 35, 73, 0.514);
}

.outer-wrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
}

#container {
    width: 100%;
    height: 250px;
    display: grid;
    background-color: white;
    border: 3px solid dimgray;
    border-radius: 3px;

}

.bordered {
    outline: 1px solid lightgray;
}

.pallete-wrapper {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pallete {
    height: 50px;
    width: 100%;
}

#orangered {
    background-color: orangered;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#yellowgreen {
    background-color: yellowgreen;
}

#steelblue {
    background-color: steelblue;
}

#purple {
    background-color: purple;
}

#hotpink {
    background-color: hotpink;
}

#sienna {
    background-color: sienna;
}

#white {
    background-color: white;
}

#black {
    background-color: black;
}

.active {
    border: 3px solid yellow;
}

.settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: whitesmoke;
}

.form-row, #size {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="number"] {
    width: 60%;
    margin: 15px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#clear {
    margin: 50px auto;
    width: 150px;
    border-radius: 3px;
    box-shadow: 3px 2px 6px rgba(1, 35, 73, 0.514);
}

button {
    font-size: 1.1em;
    width: 75px;
    padding: 10px;
    background-color: #fff;
    color: var(--blue);
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: var(--accent);
    color: #fff;
    font-weight: bolder;
}




@media screen and (min-width: 425px) {


    .outer-wrapper {
        width: 350px;
    }

    #container {
        height: 350px;
    }

}

@media screen and (min-width: 768px) {

    body, input, button {
        font-size: 14px;
    }

    .outer-wrapper {
        width: 700px;
        height: 550px;
        flex-direction: row;
    }

    #container {
        height: 550px;
        width: 550px;
    }

    .pallete-wrapper {
        flex-direction: column;
        order: -1;
        height: 100%;
        width: 75px;
    }

    .pallete {
        height: 100%;
    }

    .settings {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        width: 75px;
    }

    .form-row {
        flex-direction: column;
        height: 100%;
        width: 75px;
    }

   #size {
       flex-direction: column;
   }

}


@media screen and (min-width: 1200px) {

    .outer-wrapper {
        width: 900px;
        height: 750px;
    }

    #container {
        height: 750px;
        width: 750px;
    }

}